[flake8]
max-line-length=140
per-file-ignores =
    # Ignore unused imports and "unable to detect undefined names" with start imports
    accwidgets/graph/__init__.py:F401,F403
    # Somehow misinterprets all the type: ignore[...] comments as code and checks them
    accwidgets/graph/widgets/plotwidget.py: F821