.green, .greenbold {
    color: green;
}

.red, .redbold {
    color: red;
}

.gray, .graybold {
    color: darkgray;
}

.blue, .bluebold {
    color: blue;
}

.orange, .orangebold {
    color: darkorange;
}

.cyan, .cyanbold {
    color: darkcyan;
}

.yellow, .yellowbold {
    color: #9c9c00;
}

.black, .blackbold {
    color: black;
}

.bold, .greenbold, .redbold, .graybold, .bluebold, .orangebold, .cyanbold, .yellowbold, .blackbold {
    font-weight: bold;
}
